@use "@angular/material" as mat;

//Colors Palette
$primary-palette: (
  50: #e0f7fa,
  100: #b2ebf2,
  200: #80deea,
  300: #4dd0e1,
  400: #26c6da,
  500: #00bcd4,
  600: #00acc1,
  700: #0097a7,
  800: #00838f,
  900: #006064,
  A100: #84ffff,
  A200: #18ffff,
  A400: #00e5ff,
  A700: #00b8d4,
  contrast: (50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: black,
    A200: black,
    A400: black,
    A700: black)
);

//Typography Config
$typography-config: mat.define-typography-config($font-family: "Nunito",
    $headline-1: mat.define-typography-level($font-weight: theme('fontWeight.bold'),
      $font-size: 7.2rem,
      $line-height: normal,
      $letter-spacing: normal,
    ),
    $headline-2: mat.define-typography-level($font-weight: theme('fontWeight.semibold'),
      $font-size: 4.8rem,
      $line-height: normal,
      $letter-spacing: normal,
    ),
    $headline-3: mat.define-typography-level($font-weight: theme('fontWeight.bold'),
      $font-size: 3.6rem,
      $line-height: normal,
      $letter-spacing: normal,
    ),
    $headline-4: mat.define-typography-level($font-weight: theme('fontWeight.semibold'),
      $font-size: 3rem,
      $line-height: normal,
      $letter-spacing: normal,
    ),
    $headline-5: mat.define-typography-level($font-weight: theme('fontWeight.bold'),
      $font-size: 2.6rem,
      $line-height: normal,
      $letter-spacing: normal,
    ),
    $headline-6: mat.define-typography-level($font-weight: theme('fontWeight.bold'),
      $font-size: 2rem,
      $line-height: normal,
      $letter-spacing: normal,
    ),

    $subtitle-2: mat.define-typography-level($font-weight: theme('fontWeight.bold'),
      $font-size: 3.2rem,
      $line-height: normal,
      $letter-spacing: normal,
    ),
    $subtitle-1: mat.define-typography-level($font-weight: theme('fontWeight.semibold'),
      $font-size: 2.6rem,
      $line-height: normal,
      $letter-spacing: normal,
    ),
    $body-1: mat.define-typography-level($font-weight: theme('fontWeight.medium'),
      $font-size: 1.7rem,
      $line-height: normal,
      $letter-spacing: normal,
    ),
    $body-2: mat.define-typography-level($font-weight: theme('fontWeight.bold'),
      $font-size: 1.7rem,
      $line-height: normal,
      $letter-spacing: normal,
    ),
    $caption: mat.define-typography-level($font-weight: theme('fontWeight.medium'),
      $font-size: 1.6rem,
      $line-height: normal,
      $letter-spacing: normal,
    ),
    $button: mat.define-typography-level($font-weight: theme('fontWeight.semibold'),
      $font-size: 1.8rem,
      $line-height: normal,
      $letter-spacing: normal,
    ),
  );
